<div id="<%= dom_id friend %>">
  <p>
    <strong>Name:</strong>
    <%= friend.Name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= friend.Email %>
  </p>

  <p>
    <strong>Gender:</strong>
    <%= friend.Gender %>
  </p>

  <p>
    <strong>Action:</strong>
    <%= friend.Action %>
  </p>

</div>
